@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Merriweather Sans', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
    padding: 0%;
}
input {
    font-weight: 700;
    background-color:#141d9b;
    border-radius: 20px;
    font-size: 1.1em;
    color: white;
}
input:hover {
    background-color: #14173c;
}
span {
    font-weight: 800;
}
h2 {
    width: fit-content;
    padding: 5px;
}
header {
    background-color: #b0b2aa2a;
    margin: -10px;
    margin-bottom: 0px ;
    padding: 10px;
    padding-bottom: 0px;
}
header > h1 {
    margin: 2% 18%;
    text-align: center;
    max-width: 80%;
}
header > img {
    max-width: 50%;
}
select {
    font-size: 1.3em;
    margin:10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.474);
    color: #6b6a69;
    border-radius: 2px;
}
main {
    background-color: white;
    margin: auto;
    max-width: 800px;
    min-width: 300px;
    margin-top: 0px;
    padding: 20px;
    
}
div#caixa_resina{
    display: block;
    margin: auto;
    height: 110px;
    max-width: 70%;
    background-color: #D8D6D5;
    box-shadow: 2px 2px 2px black;
    padding: 10px;
    margin-top: 10px;
    border-color: darkgrey;
    border-radius: 5px;
    text-align: center;
}
div#caixa_endurecedor{
    display: block;
    margin: auto;
    height: 20%;
    max-width: 70%;
    background-color: #D8D6D5;
    box-shadow: 2px 2px 2px black;
    padding: 10px;
    margin-top: 10px;
    border-color: darkgrey;
    border-radius: 5px;
    text-align: center;
}

div.caixa_input > h2 {
    padding: 10px;
    margin-bottom: 0%;
    margin: auto;
}
div.caixa_output {
    max-width: 70%;
    height: 30%;
    background-color: #D8D6D5;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    font-size: 1.2em;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
    text-align: justify;
    
}
div.caixa_output > p {
    margin: 10px;
}
hr {
    height: 3px;
    background-color:#151faa ;
    padding: 0px;
    margin: 0px;
}
