@charset "UTF-8";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
input {
    font-weight: 700;
    background-color:#141d9b;
    border-radius: 20px;
    font-size: 1.1em;
    color: white;
}
input:hover {
    background-color: #14173c;
}
span {
    font-weight: 800;
}
h2 {
    width: fit-content;
    padding: 5px;
}
header > h1 {
    margin: 1% 18%;
    text-align: center;
    max-width: 80%;
}
header > img {
    max-width: 50%;
}
select {
    font-size: 1.3em;
    margin: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.474);
    color: #6b6a69;
    border-radius: 2px;
}
main {
    margin: auto;
    max-width: 600px;
    min-width: 300px;
}
div#caixa_resina{
    display: block;
    margin: auto;
    height: 110px;
    max-width: 100%;
    background-color: #D8D6D5;
    box-shadow: 2px 2px 2px black;
    padding: 10px;
    margin-top: 25px;
    border-color: darkgrey;
    border-radius: 5px;
    text-align: center;
}
div#caixa_endurecedor{
    display: block;
    margin: auto;
    height: 20%;
    max-width: 100%;
    background-color: #D8D6D5;
    box-shadow: 2px 2px 2px black;
    padding: 10px;
    margin-top: 10px;
    border-color: darkgrey;
    border-radius: 5px;
    text-align: center;
}

div.caixa_input > h2 {
    margin-top: 5px;
    margin-bottom: 0%;
    margin: auto;
}
div.caixa_output {
    max-width: 100%;
    height: 30%;
    background-color: #D8D6D5;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    font-size: 1.2em;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
    text-align: justify;
    
}
hr {
    height: 3px;
    background-color:#151faa ;
}
